[submodule "streamix-c"]
	path = streamix-c
	url = https@github.com:moiri/streamix-c.git
[submodule "streamix-rts"]
	path = streamix-rts
	url = https@github.com:moiri/streamix-rts.git
[submodule "streamix-sia"]
	path = streamix-sia
	url = https@github.com:moiri/streamix-sia.git
[submodule "streamix-graph2c"]
	path = streamix-graph2c
	url = https@github.com:moiri/streamix-graph2c.git
[submodule "zlog"]
	path = zlog
	url = https://github.com/HardySimpson/zlog.git
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/igraph.git
